[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CEC"]
	path = CEC
	url = https://github.com/swarm-lab/cec
[submodule "magicLamp"]
	path = magicLamp
	url = https://github.com/swarm-lab/magiclamp
[submodule "ROpenCVLite"]
	path = ROpenCVLite
	url = https://github.com/swarm-lab/ropencvlite
[submodule "swaRm"]
	path = swaRm
	url = https://github.com/swarm-lab/swarm
[submodule "trackdf"]
	path = trackdf
	url = https://github.com/swarm-lab/trackdf
